html, body{
		margin: 0;
		margin: 0;
		font-family: Helvetica, sans-serif;
	}

	.header{
		background-image: url(../img/sunset.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: left;
		height: 500px;
		margin: 0;
		padding: 20px;
	}

	.header .container{
		background: rgba(238, 238, 238, 0.4);
		width: 100%;

	}

	.header h1{
		color: #fff;
		font-family: Alcubierre;
		text-transform: uppercase;
		letter-spacing: 2px;
		min-width: 100px;
	}

	.header ul.nav{
		list-style: none;
		float: right;
		margin: -50px 20px;

	}

	.header ul.nav li{
		display: inline-block;
		margin-right: 10px;
	}

	.header ul.nav a{
		background-color: #000;
		padding: 10px 20px;
		color: #fff;
		text-decoration: none;
	}

	.header ul.nav a:hover{
		background-color: rgb(213, 91, 53);
	}

	.main h2{
		padding: 20px;
		margin-right: 500px;
		margin-top: 150px;
		color: #fff;
		font-family: Helvetica;
	}

	.supporting{
		padding-top: 50px;
		margin: 0px 20px;
	}

	.supporting .col-md-4{
		min-height: 100%;
	}

	.supporting .col-md-4 .thumbnail{
		background: transparent;
		border: none;
	}

	.footer{
		background-color: #eee;
		margin: 0;
		padding: 30px 80px;
	}

	.footer ul{
		list-style: none;
		font-size: 10px;	
	}

	.footer li{
		padding: 5px;
	}

	.footer a{
		text-decoration: none;
		color: #000;
	}

	.footer p{
		float: right;
		font-size: 10px;
		text-transform: uppercase;
		margin: -50px 0px;
		position: relative;
	}



